img.card-img-top
{
  height: 190px;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}

.card-title
{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: large;
}

.card-performer-list
{
  width: 16rem;
}

