<div class="container-fluid" *ngIf="selected==false">
  <div class="row pt-5">
    <div class="col p-2" *ngFor="let album of albums">
      <div class="card card-album-list">
        <img src="{{album.cover}}" class="card-img-top" alt="Fotografia albúm {{album.name}}" (click)="onSelected(album)">
        <div class="card-body p-2">
          <span class="card-title font-weight-bold mb-1 album-name">{{album.name}}</span>
          <p class="card-text" *ngFor="let performer of album.performers">
              {{performer.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pt-5" *ngIf="selected">
  <div class="row panel-detalle">
    <button class="button-close" (click)="closeDetail()">X</button>
    <app-album-detail [albumDetail]="selectedAlbum"></app-album-detail>
  </div>
</div>

