<div class="content" role="main">
  <div class="container">
    <h1>Black vynils</h1>
    <button type="button" class="btn btn-secondary" (click)="viewComponent('prizes')">Listado Premios</button>
    <button type="button" class="btn btn-secondary" (click)="viewComponent('albumes')">Listado Albumes</button>
    <button type="button" class="btn btn-secondary" (click)="viewComponent('artistas')">Listado Artistas</button>
    <button type="button" class="btn btn-secondary" (click)="viewComponent('coleccionistas')">Listado Coleccionistas</button>
    <div *ngIf="componentActive == 'prizes'">
      <app-prizes-list></app-prizes-list>
    </div>
    <div *ngIf="componentActive == 'albumes'">
      <span>Aca deberia ir albumes</span>
    </div>
    <div *ngIf="componentActive == 'artistas'">
      <span>Aca deberia ir artistas</span>
    </div>
    <div *ngIf="componentActive == 'coleccionistas'">
      <span>Aca deberia ir coleccionistas</span>
    </div>
  </div>
</div>
